<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
    <style>
      div {border:1px solid grey; padding:1em; margin:1em;}
    </style>
  </head>
  <body ng-app="app">

    <div ng-controller="cheeseController as outerController">
      <input ng-model="outerController.cheeseName" />
      {{outerController.cheeseName}}

      <div ng-controller="cheeseController as innerController">
        <input ng-model="innerController.cheeseName" />
        {{innerController.cheeseName}} - {{outerController.cheeseName}}
        <input ng-model="innerController.cheeseDesc" />
        {{innerController.cheeseDesc}}
      </div>

    </div>


  </body>
</html>




















<!--
Initial state:

<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
    <style>
      div {border:1px solid grey; padding:1em; margin:1em;}
    </style>
  </head>
  <body ng-app="app">

    <div ng-controller="cheeseController">
      <input ng-model="cheeseName" />
      {{cheeseName}}
    </div>

  </body>
</html>
-->
