
<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
    <style>
      div {border:1px solid grey; padding:1em; margin:1em;}
    </style>
  </head>
  <body ng-app="app" ng-controller="appController">

    <div ng-controller="cheeseController">
      <input ng-model="cheese.name" />
      {{cheese.name}}

      <div ng-controller="cheeseController">
        <input ng-model="cheese.name" />
        {{cheese.name}}
      </div>

    </div>


  </body>
</html>















<!--
Initial state:

<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
    <style>
      div {border:1px solid grey; padding:1em; margin:1em;}
    </style>
  </head>
  <body ng-app="app">

    <div ng-controller="cheeseController">
      <input ng-model="cheeseName" />
      {{cheeseName}}
    </div>

  </body>
</html>
-->
